/* Site Header */
.site-header, .site-footer {
    background-color: $color-accent;
    padding: 1em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;

    h1 {
        font-family: $heading-font-family;
        font-size: 1.5em;
        margin: .5em 0 0 0; /* To adjust baseline with nav text */
    }
    a {
        color: #ffffff;
        text-decoration: none; 
    }
}
/* Site Header */
.site-header {
    background-color: transparent;
    position: absolute;
    width: 100%;
}

/* Site Footer */
.site-footer {
    justify-content: center;
    margin-top: 6em;
}

/* Site Navigation */
.site-nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;

    ul 
    {
        background: rgba(255, 0, 0, .5);
        display: none;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        padding: 1em;
    }

    &.active {
        height: 100%;
        ul {
            display: block;
        }
    }
}

section {
    padding: 6em 0;
    display: grid;
    place-items: center;
}
/* MENU BUTTON */
.menu-button {
    position: absolute;
    top: 2em;
    right: 2em;
    cursor: pointer;
}

/* Site Hero */
.hero {
    background-color: $color-hero-bg;
    // background-image: url('https://picsum.photos/id/1002/1600/1200')
    // background-size: cover;
    padding: 15% 1em;
    // text-align: center;
    color: #fff;

    h2 {
        font-size: 4em;
    }
}

/* LAYOUT SECTION */
#layout {
    @media (min-width: $breakpoint-small) {}
        .container {
            display: flex;
            align-items: center;
        }

        .img-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            transform: translateX(-2em);
        }
}

#split-cross-reversed {
    @media (min-width: $breakpoint-small) {}
        .container {
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
        }

        .img-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            transform: translateX(2em);
        }
}

